h1 {
	font-family: Helvetica;
	font-size: 50px;
	color: #6eb69b;
	position: center;
	

}

body {
	background-color: #8b89a2;
}

#container {
	font-family: Helvetica;
	font-size: 20px;
	color: #6eb69b;
	position: center;

	}
