h1 {
	font-family: Helvetica;
	font-size: 50px;
	color: #f9c400;
	position: center;
	

}

body {
	background-color: #8b89a2;
}

#container {
	font-family: Helvetica;
	font-size: 20px;
	color: #f9c400;
	position: center;
	width: 400px;


	}

#gif {
	margin-left: 300px;
	margin-top: -300px;
}
